$colors: (
	primary	 : #e67e22,
	primary45: #cf6d17,
	gray	 : #f4f4f4
);

@function color($color-name) {
	@return map-get($colors, $color-name);
}

@mixin btn-hover($c) {

	&:hover,
	&:active {
		background-color: color(primary45);
		border: 1px solid color(primary45);
		color: $c;
	}
}

@mixin headerH($ls) {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: $ls;
}

/*-----------------------------------------------------
--------------------  Public  -------------------------
-----------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #333;
	text-rendering: optimizeLegibility;
}

a {

	&:link,
	&:visited {
		text-decoration: none;
		color: color(primary);
		padding-bottom: 1px;
		border-bottom: 1px solid color(primary);
		transition: color 350ms ease,
					border-bottom 250ms ease-in;
	}

	&:hover,
	&:active {
		color: #555;
		border-bottom: 1px solid transparent;
	}
}


h1 {
	margin: 0 0 0.8em;
	color: #fff;
	font-size: 250%;
	word-spacing: 4px;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
	@include headerH(1px);
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	@include headerH(1px);

	&::after {
		content: '';
		display: block;
		margin: 30px auto;
		height: 2px;
		width: 100px;
		background: color(primary);
	}
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;

	@include headerH(0);
}

section {
	padding: 80px 0;
}

/*-------------------------------------------------------*/

.row {
	width: 1140px;
	margin: 0 auto;
}

.clearfix {
	zoom: 1;

	&::after {
		content: '.';
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
	}
}

.icon-big {
	display: block;
	font-size: 350%;
	color: color(primary);
	margin-bottom: 10px;
}

.icon-small {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: color(primary);
	font-size: 120%;
	margin-right: 10px;
	
	line-height: 120%;
	vertical-align: middle;
	margin-top: -5px;
}

.btn {

	&:link,
	&:visited {
		display: inline-block;
		padding: 10px 30px;
		border-radius: 200px;
		// box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.2);
		transition: all 350ms ease;
	}
}

.btn-f {

	&:link,
	&:visited {
		background: color(primary);
		border: 1px solid color(primary);
		color: #fff;
		margin-right: 15px;
	}

	@include btn-hover(none);
}

.btn-g {

	&:link,
	&:visited {
		border: 1px solid color(primary);
		color: color(primary);
	}

	@include btn-hover(#fff);
}

/*-----------------------------------------------------------
------------------------- Private ---------------------------
-------------------------------------------------------------*/

header {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.61)), url("../img/hero.jpg") center fixed;
	background-size: cover;
	height: 100vh;

	.logo {
		height: 100px;
		width: auto;
		float: left;
		margin-top: 1em;
	}

	.main-nav {
		float: right;
		list-style-type: none;
		margin-top: 2.5em;

		li {
			display: inline-block;
			margin-left: 40px;

			a {

				&:link,
				&:visited {
					padding: 8px 0;
					color: #fff;
					text-transform: uppercase;
					font-size: 90%;
					border-bottom: 2px solid transparent;
					transition: border 350ms ease;
				}

				&:hover,
				&:active {
					border-bottom: 2px solid color(primary);
				}
			}
		}
	}

	.hero-text-box {
		position: absolute;
		width: 1140px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		// text-align: center;
	}
}

.section-features {

	.long-copy {
		line-height: 145%;
		width: 70%;
		margin-left: 15%;
		margin-bottom: 30px;
	}

	.box {
		padding: 1%;
		text-align: center;
		
		p {
			font-size: 90%;
			line-height: 145%;
		}
	}
}

.section-meals {
	padding: 0;

	.meals-showcase {
		list-style-type: none;
		width: 100%;

		li {
			display: block;
			float: left;
			width: 25%;

			.meal-photo {
				width: 100%;
				margin: 0;
				overflow: hidden;
				background: #000;

				img {
					width: 100%;
					height: auto;
					transform: scale(1.15);
					filter: grayscale(0.75);
					opacity: 0.65;
					transition: transform 550ms ease-out,
								filter 850ms ease-in,
								opacity 650ms ease-in;

					&:hover {
						opacity: 1;
						filter: grayscale(0.25);
						transform: scale(1.03);
					}
				}
			}
		}
	}
}

.section-steps {
	background: color(gray);

	.steps-box {

		&:first-child {
			text-align: right;
			padding-right: 3%;
			margin-top: 30px;
		}

		&:last-child {
			padding-left: 3%;
			margin-top: 70px;
		}

		.app-screen {
			width: 40%;
		}

		.works-step {
			margin-bottom: 50px;

			&:last-of-type {
				margin-bottom: 80px;
			}

			div {
				color: color(primary);
				border: 2px solid color(primary);
				display: inline-block;
				border-radius: 50%;
				height: 55px;
				width: 55px;
				text-align: center;
				padding: 6px;
				float: left;
				font-size: 150%;
				margin-right: 25px;
			}
		}

		.btn-app {

			&:link,
			&:visited {
				border: 0;
			}

			img {
				height: 50px;
				width: auto;
				margin-right: 10px;
			}
		}
	}
}

.section-cities {

	.box {

		img {
			width: 100%;
			height: auto;
			border-radius: 5px;
			margin-bottom: 15px;
		}

		.city-feature {
			margin-bottom: 5px;
		}
	}
}

.section-testimonials {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../img/back-customers.jpg") fixed;
	background-size: cover;
	color: #fff;

	blockquote {
		padding: 2%;
		font-style: italic;
		line-height: 145%;
		position: relative;

		&::before {
			content: '\201C';
			font-size: 400%;
			display: block;
			position: absolute;
			top: -5px;
			left: -5px;
		}

		cite {
			font-size: 90%;
			margin-top: 25px;
			display: block;

			img {
				height: 45px;
				border-radius: 50%;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
}

.section-plans {
	background: color(gray);

	.plan-box {
		background: #fff;
		border-radius: 5px;
		width: 90%;
		margin-left: 5%;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

		div {
			padding: 15px;
			border-bottom: 1px solid #d8d8d8;

			&:first-child {
				background: #fcfcfc;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			&:last-child {
				text-align: center;
				border: 0;
			}

			.plan-price {
				font-size: 300%;
				margin-bottom: 10px;
				font-weight: 100;
				color: color(primary);

				span {
					font-size: 30%;
					font-weight: 300;
				}
			}

			.plan-price-meal {
				font-size: 80%;
			}
		}

		ul {
			list-style-type: none;

			li {
				padding: 5px 0;
			}
		}
	}
}