$colors: (
	primary: #e67e22,
	primary45: #cf6d17
);

@function color($color-name) {
	@return map-get($colors, $color-name);
}

@mixin btn-hover($c) {

	&:hover,
	&:active {
		background-color: color(primary45);
		border: 1px solid color(primary45);
		color: $c;
	}
}

@mixin headerH($ls) {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: $ls;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #333;
	text-rendering: optimizeLegibility;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.61)), url("../img/hero.jpg") center fixed;
	background-size: cover;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #000;
}


h1 {
	margin: 0 0 0.8em;
	color: #fff;
	font-size: 250%;
	word-spacing: 4px;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
	@include headerH(1px);
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	@include headerH(1px);

	&::after {
		content: '';
		display: block;
		margin: 30px auto;
		height: 2px;
		width: 100px;
		background: color(primary);
	}
}

section {
	padding: 80px 0;
}

.clearfix {
	zoom: 1;

	&::after {
		content: '.';
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
	}
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// text-align: center;
}


.btn {

	&:link,
	&:visited {
		display: inline-block;
		padding: 10px 30px;
		border-radius: 200px;
		box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.2);
		transition: all 350ms ease;
	}
}

.btn-f {

	&:link,
	&:visited {
		background: color(primary);
		border: 1px solid color(primary);
		color: #fff;
		margin-right: 15px;
	}

	@include btn-hover(none);
}

.btn-g {

	&:link,
	&:visited {
		border: 1px solid color(primary);
		color: color(primary);
	}

	@include btn-hover(#fff);
}


.row {
	width: 1140px;
	margin: 0 auto;

	.logo {
		height: 100px;
		width: auto;
		float: left;
		margin-top: 1em;
	}

	.main-nav {
		float: right;
		list-style-type: none;
		margin-top: 2.5em;

		li {
			display: inline-block;
			margin-left: 40px;

			a {

				&:link,
				&:visited {
					padding: 8px 0;
					color: #fff;
					text-transform: uppercase;
					font-size: 90%;
					border-bottom: 2px solid transparent;
					transition: border 350ms ease;
				}

				&:hover,
				&:active {
					border-bottom: 2px solid color(primary);
				}
			}
		}
	}
}

.section-features {

	.long-copy {
		line-height: 145%;
		width: 70%;
		margin-left: 15%;
		margin-bottom: 30px;
	}

	.box {
		padding: 1%;
		text-align: center;
		
		p {
			font-size: 90%;
			line-height: 145%;
		}

		.icon-big {
			display: block;
			font-size: 350%;
			color: color(primary);
			margin-bottom: 10px;
		}
	}

	h3 {
		font-size: 110%;
		margin-bottom: 15px;

		@include headerH(0);
	}
}

.section-meals {
	padding: 0;

	.meals-showcase {
		list-style-type: none;
		width: 100%;

		li {
			display: block;
			float: left;
			width: 25%;

			.meal-photo {
				width: 100%;
				margin: 0;
				overflow: hidden;
				background: #000;

				img {
					width: 100%;
					height: auto;
					transform: scale(1.15);
					filter: grayscale(0.75);
					opacity: 0.65;
					transition: transform 550ms ease-out,
								filter 850ms ease-in,
								opacity 650ms ease-in;

					&:hover {
						opacity: 1;
						filter: grayscale(0.25);
						transform: scale(1.03);
					}
				}
			}
		}
	}
}

.section-steps {
	background: #f4f4f4;

	.steps-box {

		&:first-child {
			text-align: right;
			padding-right: 3%;
			margin-top: 30px;
		}

		&:last-child {
			padding-left: 3%;
			margin-top: 70px;
		}

		.app-screen {
			width: 40%;
		}

		.works-step {
			margin-bottom: 50px;

			&:last-of-type {
				margin-bottom: 80px;
			}

			div {
				color: color(primary);
				border: 2px solid color(primary);
				display: inline-block;
				border-radius: 50%;
				height: 55px;
				width: 55px;
				text-align: center;
				padding: 6px;
				float: left;
				font-size: 150%;
				margin-right: 25px;
			}
		}

		.btn-app {

			img {
				height: 50px;
				width: auto;
				margin-right: 10px;
			}
		}
	}
}