/*-----------------------------------------------------
--------------------  Public  -------------------------
-----------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #333;
  text-rendering: optimizeLegibility;
}

a:link, a:visited {
  text-decoration: none;
  color: #e67e22;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: color 350ms ease, border-bottom 250ms ease-in;
  transition: color 350ms ease, border-bottom 250ms ease-in;
}

a:hover, a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

h1 {
  margin: 0 0 0.8em;
  color: #fff;
  font-size: 250%;
  word-spacing: 4px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2::after {
  content: '';
  display: block;
  margin: 30px auto;
  height: 2px;
  width: 100px;
  background: #e67e22;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
}

section {
  padding: 80px 0;
}

/*-------------------------------------------------------*/
.row {
  width: 1140px;
  margin: 0 auto;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.icon-big {
  display: block;
  font-size: 350%;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

.btn:link, .btn:visited {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 200px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.btn-f:link, .btn-f:visited {
  background: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-f:hover, .btn-f:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
  color: none;
}

.btn-g:link, .btn-g:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn-g:hover, .btn-g:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
  color: #fff;
}

/*-----------------------------------------------------------
------------------------- Private ---------------------------
-------------------------------------------------------------*/
header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.61))), url("../img/hero.jpg") center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.61)), url("../img/hero.jpg") center fixed;
  background-size: cover;
  height: 100vh;
}

header .logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 1em;
}

header .main-nav {
  float: right;
  list-style-type: none;
  margin-top: 2.5em;
}

header .main-nav li {
  display: inline-block;
  margin-left: 40px;
}

header .main-nav li a:link, header .main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 350ms ease;
  transition: border 350ms ease;
}

header .main-nav li a:hover, header .main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

header .hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-features .long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 30px;
}

.section-features .box {
  padding: 1%;
  text-align: center;
}

.section-features .box p {
  font-size: 90%;
  line-height: 145%;
}

.section-meals {
  padding: 0;
}

.section-meals .meals-showcase {
  list-style-type: none;
  width: 100%;
}

.section-meals .meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.section-meals .meals-showcase li .meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}

.section-meals .meals-showcase li .meal-photo img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: grayscale(0.75);
          filter: grayscale(0.75);
  opacity: 0.65;
  -webkit-transition: opacity 650ms ease-in, -webkit-transform 550ms ease-out, -webkit-filter 850ms ease-in;
  transition: opacity 650ms ease-in, -webkit-transform 550ms ease-out, -webkit-filter 850ms ease-in;
  transition: transform 550ms ease-out, filter 850ms ease-in, opacity 650ms ease-in;
  transition: transform 550ms ease-out, filter 850ms ease-in, opacity 650ms ease-in, -webkit-transform 550ms ease-out, -webkit-filter 850ms ease-in;
}

.section-meals .meals-showcase li .meal-photo img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0.25);
          filter: grayscale(0.25);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.section-steps {
  background: #f4f4f4;
}

.section-steps .steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.section-steps .steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.section-steps .steps-box .app-screen {
  width: 40%;
}

.section-steps .steps-box .works-step {
  margin-bottom: 50px;
}

.section-steps .steps-box .works-step:last-of-type {
  margin-bottom: 80px;
}

.section-steps .steps-box .works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 6px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.section-steps .steps-box .btn-app:link, .section-steps .steps-box .btn-app:visited {
  border: 0;
}

.section-steps .steps-box .btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.section-cities .box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.section-cities .box .city-feature {
  margin-bottom: 5px;
}

.section-testimonials {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.7))), url("../img/back-customers.jpg") fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../img/back-customers.jpg") fixed;
  background-size: cover;
  color: #fff;
}

.section-testimonials blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
}

.section-testimonials blockquote::before {
  content: '\201C';
  font-size: 400%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

.section-testimonials blockquote cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

.section-testimonials blockquote cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.section-plans {
  background: #f4f4f4;
}

.section-plans .plan-box {
  background: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.section-plans .plan-box div {
  padding: 15px;
  border-bottom: 1px solid #d8d8d8;
}

.section-plans .plan-box div:first-child {
  background: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.section-plans .plan-box div:last-child {
  text-align: center;
  border: 0;
}

.section-plans .plan-box div .plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.section-plans .plan-box div .plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.section-plans .plan-box div .plan-price-meal {
  font-size: 80%;
}

.section-plans .plan-box ul {
  list-style-type: none;
}

.section-plans .plan-box ul li {
  padding: 5px 0;
}
/*# sourceMappingURL=main.css.map */